language: android

jdk:
    - oraclejdk8

android:
    components:
        - platform-tools
        - tools
        - build-tools-23.0.2
        - android-22
        - extra-android-m2repository
        - extra-google-m2repository
    licenses:
        - android-sdk-license-.+

before_cache:
    - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
    directories:
        - $HOME/.gradle/caches/
        - $HOME/.gradle/wrapper/

script: ./gradlew assembleRelease
